html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
/* Hero Background */
.bg-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://images.unsplash.com/photo-1509440159596-0249088772ff');
    background-size: cover;
    background-position: center;
}

/* Fix scroll position for fixed navbar */
section {
    scroll-margin-top: 80px;
    /* Adjust to navbar height */
}

/* Section Title */
.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Active section effect */
.active-section {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.15rem;
}

/* Hide sections */
.hidden-section {
    display: none;
}

.active-section h2 {
    font-size: 2.5rem;
}

.active-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Menu Card */
.menu-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.menu-card:hover {
    transform: translateY(-10px);
}


/* Fade Animation */
.animate-fadeIn {
    animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Scroll Animation */
.fade-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}


.fade-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
}

/* Continuous Gallery Slider */

.image-slider {
    width: 100%;
    overflow: hidden;
    /* Change from visible to hidden */
    background: black;
    padding: 30px 0;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scrollGallery 30s linear infinite;
}

.slider-track img {
    width: 350px;
    height: 220px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 12px;

    /* Smooth zoom animation */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Zoom Effect */
.slider-track img:hover {
    transform: scale(1.3);
    z-index: 10;
    box-shadow: 0 12px 30px rgba(255, 165, 0, 0.6);
}

/* Animation */
@keyframes scrollGallery {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Make each main section full screen */
#menu,
#location,
#gallery,
#contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about {
    padding-top: 100px;
}
