/* Hero Background */
.bg-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://images.unsplash.com/photo-1509440159596-0249088772ff');
    background-size: cover;
    background-position: center;
}


/* Section Title */
.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}



/* Menu Card */
.menu-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.menu-card:hover {
    transform: translateY(-10px);
}


/* Fade Animation */
.animate-fadeIn {
    animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Scroll Animation */
.fade-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}


.fade-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
}